body {
	min-height: 100%;
	background-color: rgba(61, 61, 61, 0.797);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgba(232, 232, 232, 0.924);
}

#wrapper {
	min-width: 1000px;
	min-height: 600px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

svg {
	border: 2.5px solid rgba(0, 0, 0, 0.138);
	border-radius: 35px;
	padding: 25px;
	background-color: rgba(46, 154, 179, 0.265);
}

#tooltip {
	visibility: hidden;
	height: auto;
	width: auto;
}

.state:hover {
	fill: rgba(0, 255, 85, 0.551);
}
