body {
	min-height: 100%;
	background-color: #007484;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgba(232, 232, 232, 0.924);
}

#wrapper {
	width: 1000px;
	min-height: 630px;
}

path[data-state~="California"],
path[data-state~="Arizona"],
path[data-state~="Mexico"],
path[data-state~="Texas"],
path[data-state~="Louisiana"] {
	filter: drop-shadow(0 25px 4px rgba(0, 0, 0, 0.7));
}

path[data-state~="Florida"] {
	filter: drop-shadow(0 13px 3px rgba(0, 0, 0, 0.7));
}

path[data-state~="Mississippi"],
path[data-state~="Alabama"] {
	filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.7));
}

path[data-state~="Alaska"],
path[data-state~="Hawaii"] {
	filter: drop-shadow(0 20px 3px rgba(0, 0, 0, 0.7));
}

path[data-state~="California"]:hover {
	filter: drop-shadow(0px 40px 2px rgb(0 0 0 / 0.7));
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#wrapper {
	border-radius: 35px;
	padding: 25px;
	margin-left: 50px;
}

#tooltip {
	visibility: hidden;
	height: auto;
	width: auto;
}

.state:hover {
	fill: rgb(32, 189, 87);
}

#slideshowBtnContainer {
	padding: 20px;
	margin-right: auto;
}

.slideshow-button {
	background-color: #ff00008a;
	color: white;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		/*https://getcssscan.com/css-box-shadow-examples*/ rgba(0, 0, 0, 0.17) 0px
			12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-left {
	margin-left: 15px !important;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-right {
	padding-left: 10px;
	padding-right: 10px;
}

.slideshow-button:disabled {
	background-color: #d6d0d0c4;
	color: rgb(78, 78, 78);
}
.slideshow-button:hover {
	color: black;
	background-color: #e7e7e7a5;
	box-shadow: none;
}

#cause-year-container {
	width: 55%;
	padding: 12px;
	color: #ffffffb0;
	position: absolute;
	font-size: 13px;
	top: 11%;
}
#cause-year-container h1 {
	text-align: center;
}

#year-lb {
	float: left;
}

#deathtype-container {
	width: 16.5%;
	height: 45px;
	border-radius: 30px;
	padding: 10px;
	background-color: rgba(46, 154, 179, 0.265);
	margin-top: 70px;
	margin-bottom: 41%;
	margin-right: 79%;
	color: white;
	position: absolute;
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
#deathtype-container h1 {
	font-size: 25px;
	margin-top: 3%;
	text-align: center;
}

#deathtype-lb {
	float: left;
}

#description-bottom {
	width: 95%;
	height: 100px;
	margin-top: 1600px;
	position: absolute;
	border-radius: 35px;
	padding: 25px;
	background-color: rgba(46, 154, 179, 0.265);
	color: white;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
		/*https://getcssscan.com/css-box-shadow-examples*/ rgba(0, 0, 0, 0.09) 0px
			8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#outer-wrapper {
	min-width: 1000px;
	margin-top: 750px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0.6%;
	border-radius: 35px;
	color: white;
	position: absolute;
}
#container-left {
	min-width: 17%;
	height: 550px;
	margin-right: 76%;
	margin-top: 800px;
	margin-bottom: 0.6%;
	border-radius: 35px;
	padding: 30px;
	background-color: rgba(46, 154, 179, 0.265);
	color: white;
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#container-right {
	min-width: 17%;
	height: 550px;
	margin-right: -76%;
	margin-top: 800px;
	margin-bottom: 0.6%;
	border-radius: 35px;
	padding: 25px;
	background-color: rgba(46, 154, 179, 0.265);
	color: white;
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#description-bottom:hover,
#container-left:hover,
#container-right:hover
/* #wrapper:hover */ {
	background-color: rgba(46, 155, 179, 0.733);
}

#graph-container-left {
	background-color: rgba(46, 155, 179, 0.583);
	width: 109%;
	height: 315px;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: -4.5%;
}

#graph-container-right {
	background-color: rgba(46, 155, 179, 0.583);
	width: 106%;
	height: 335px;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: -3%;
}

#info-container-left {
	width: 335px;
}

#info-container-right {
	width: 335px;
}
#info-container-bottom {
	width: 100%;
}

.chart-tooltip {
	display: none;
}
